// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #d0c605;
$info: #487495;
$dark: rgba(0,0,0,0.25);

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

$fa-font-path: "../fonts";