/*
* Fonts
*/

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: normal;
    src: url('../fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: 500;
    src: url('../fonts/Kanit-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: 300;
    src: url('../fonts/Kanit-Light.ttf') format('truetype');
}

/*
* Imports
*/

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "buttons.scss";
@import "components.scss";
@import "forms.scss";
@import "filters.scss";
@import "map.scss";
@import "modals.scss";
@import "multiselect.scss";
@import "navigation.scss";
@import "scrollbar.scss";
@import "sortable.scss";
@import "tables.scss";

/*
* Base structure
*/

h1, h2, h3, h4, h5, h6, button, p, a, footer, .btn, .badge{
    font-family: 'Kanit', 'Work Sans', sans-serif;
}

h1 {
    @include media-breakpoint-down(sm) {
        font-size: calc(1.15rem + 1.2vw);
    }
}

h2 {
    font-weight: normal;
}

.font-work-sans{
    font-family: 'Work Sans', sans-serif;
}

header {
    height: $header-height;
    background: $secondary;
}

main{
    width: $sidebar-width;
    height: calc(100vh - $header-height);
    overflow-y: auto;

    background: $secondary;

    @include media-breakpoint-down(md) { 
        width: 100%;
    }

    h2{
        font-size: 1.5rem;
    }

    .title{
        padding: 1.5rem 1rem;
        background: #202538;

        h1{
            margin: 0;
        }

        h2{
            font-size: 1rem;
        }
    }

    .container{
        padding: 2rem 1rem 1rem 1rem;

        @include media-breakpoint-down(md) { 
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

footer{
    height: $footer-height;
    font-weight: 300;
    text-align: center;

    padding: 2px .5rem 0 .5rem;

    background: rgba($secondary, 0.75);

    position: absolute;
    bottom: 0;
    width: calc(100vw - $sidebar-width);
    z-index: 2000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-breakpoint-down(md) { 
        display: none;
    }
}