/*
* Fonts
*/

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: normal;
    src: url('../fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: 500;
    src: url('../fonts/Kanit-Medium.ttf') format('truetype');
}

/*
* Imports
*/

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";

/*
* Base structure
*/

h1, h2, h3, h4, h5, h6, button, p, a, .btn, .badge{
    font-family: 'Kanit', 'Work Sans', sans-serif;
}

body {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.logo{
    padding: .25rem 0;
    border-bottom: .25rem solid $primary;

    &:hover{
        border-bottom-color: #ffffff40;
    }
}

table{
    background: #f9f9f9 !important;
}

.cover-container {
    max-width: 72em;
}

main{
    padding-right: 1rem!important;
    padding-left: 1rem!important;

    @include media-breakpoint-between(xs, md) {
        padding-right: .25rem!important;
        padding-left: .25rem!important;
    }
}

/*
* Header
*/

.nav-masthead{
    .nav-link {
        padding: .25rem 0;
        font-weight: 400;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;

        + .nav-link{
            margin-left: 1rem;
        }

        &:hover, &:focus{
            border-bottom-color: rgba(255, 255, 255, .25);
        }
    } 

    .active{
        color: #fff;
        border-bottom-color: $primary;
    }
}

/*
* Components
*/

.badge{
    font-weight: 400;
}

img.flag{
    border: 1px solid #efefef;
}

.validation-error{
    color: $primary;
    background: black;
    border: 2px solid $primary;
    padding: 5px 10px;
}


.btn-primary{
    box-shadow: 0px 0px 10px darken(#bdb517, 20%);
    border: 2px solid darken($primary, 15%);
    font-weight: 500;
    
    &:hover{
        box-shadow: 0px 0px 6px #bdb517;
        border: 2px solid darken($primary, 15%);
    }
}

.nav-pills{
    .nav-link.active, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: white;
        background: $secondary;
    }

    .nav-link, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: black;
        background: #f5f5f5;
    }
}

#slider-airtime, #slider-rwy, #slider-elevation {
    padding: 0 16px;
    
    .noUi-connect {
        background: #323121;
    }
    
    .noUi-handle {
        height: 26px;
        top: -5px;
        border-radius: 3px;
        box-shadow: none;
    }
}


/*
* Overrides
*/

/* Make checkbox dark checkmark */ 
.form-check-input{
    &:checked[type=checkbox]{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }

    &:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
    }
}

/* Make icons in checkbox labels equally wide */
.form-check-label{
    .fa{
        width: 18px;
    }
}