/*
* Fonts
*/

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: normal;
    src: url('../fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: 500;
    src: url('../fonts/Kanit-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    font-weight: 300;
    src: url('../fonts/Kanit-Light.ttf') format('truetype');
}

/*
* Imports
*/

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

/*
* Base structure
*/

h1, h2, h3, h4, h5, h6, button, p, a, footer, .btn, .badge{
    font-family: 'Kanit', 'Work Sans', sans-serif;
}

h1 {
    text-align: center;
}

.font-family-paragraph
{
    font-family: 'Work Sans', sans-serif; 
}

p {
    
    &.front{
        font-size: 1.2rem;
        @include media-breakpoint-between(sm, md) {
            font-size: 1rem;
        }
        @include media-breakpoint-between(xs, sm) {
            font-size: inherit;
        }
    }

    &.top {
        font-size: 1.1rem;
        @include media-breakpoint-between(xs, sm) {
            font-size: inherit;
        }
    }

    &.advanced{
        font-size: 1.3rem;
        @include media-breakpoint-between(sm, md) {
            font-size: 1.1rem;
        }
        @include media-breakpoint-between(xs, sm) {
            font-size: inherit;
        }
    }
}

footer{
    font-weight: 300;
    text-align: center;
}

body {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.testbadge{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
}

.logo{
    padding: .25rem 0;
    border-bottom: .25rem solid $primary;

    text-align: center;

    &:hover{
        border-bottom-color: #ffffff40;
    }

    @include media-breakpoint-between(xs, md) {
        border-bottom-color: #ffffff40;
        margin: auto;
        width: 100%;
        max-width: 280px;
    }
}

table{

    background: white;

    // Add a bit margin to hide horizontal scroll fade
    @include media-breakpoint-between(xs, md) {
        background: transparent;
        margin-right: 2rem;
    }

    th:first-child,td:first-child{
        padding-left: 1rem !important;
    }

    th:last-child,td:last-child{
        padding-right: 1rem !important;
    }

    tr .hover-show{
        height: 1.5rem;
        display: none;

        @include media-breakpoint-between(sm, lg) {
            display: block;
        }

        &.secondary{
            @include media-breakpoint-between(sm, lg) {
                display: none;
            }
        }
    }

    tr:hover .hover-show{
        display: block;

        &.secondary{
            @include media-breakpoint-between(sm, lg) {
                display: none;
            }
        }
    }

    tr.showmore-hidden{
        display: none;
    }

}

.scroll-fade{
    position: relative;
}

.table-responsive{
    background: transparent;

    // Add horizontal scroll fade on smaller devices
    @include media-breakpoint-between(xs, md) {
        background: white;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 4rem;
            background: linear-gradient(to right, rgba(255,255,255,0), #f9f9f9);
            pointer-events: none;
        }
    }
}


.cover-container {
    max-width: 72em;
}

main{
    @include media-breakpoint-between(xs, md) {
        padding-right: .25rem!important;
        padding-left: .25rem!important;
    }
}

.departure-container{
    padding: 1rem;
    margin-bottom: 1rem;

    color: black;
    background: #fff;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;

    @include media-breakpoint-between(xs, md) {
        overflow-x: scroll;
    }
    
    dt{
        margin-bottom: 1.35rem;
    }

    dd{
        margin-bottom: 0;
    }
}

#cookie-consent{
    position: fixed;
    bottom: .75rem;
    right: .75rem;

    color: $primary;
    background-color: black;
    border: 2px solid $primary;
    width: 19rem;
    max-width: 90%;
    padding: 10px;
}

.font-work-sans{
    font-family: 'Work Sans', sans-serif;
}

/*
* Header
*/

.nav-masthead{
    .nav-link {
        padding: .25rem 0;
        font-weight: 400;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;

        + .nav-link{
            margin-left: 1rem;
        }

        &:hover, &:focus{
            border-bottom-color: rgba(255, 255, 255, .25);
        }
    } 

    .active{
        color: #fff;
        border-bottom-color: $primary;
    }
}

/*
* Components
*/

.badge{
    font-weight: 400;
}

img.flag{
    border: 1px solid #efefef;
}

.validation-error{
    color: $primary;
    background: black;
    border: 2px solid $primary;
    padding: .4rem .7rem;
}


.btn-primary{
    box-shadow: 0px 0px 10px darken(#bdb517, 20%);
    border: 2px solid darken($primary, 15%);
    font-weight: 500;
    
    &:hover{
        box-shadow: 0px 0px 6px #bdb517;
        border: 2px solid darken($primary, 15%);
    }
}

.nav-pills{
    .nav-link.active, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: white;
        background: $secondary;
    }

    .nav-link, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: black;
        background: #f5f5f5;
    }
}

#slider-airtime, #slider-rwy, #slider-elevation {
    padding: 0 1rem;
    
    .noUi-connect {
        background: #323121;
    }
    
    .noUi-handle {
        height: 26px;
        top: -5px;
        border-radius: 3px;
        box-shadow: none;
    }
}

.alert{
    &.alert-discord{
        background-color: #7289DA;
        border-color: #7289DA;
        text-align: center;
    }
}


/*
* Overrides
*/

/* Make checkbox dark checkmark */ 
.form-check-input{
    &:checked[type=checkbox]{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }

    &:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
    }
}

/* Make icons in checkbox labels equally wide */
.form-check-label{
    .fa{
        width: 18px;
    }
}