button {
    padding-bottom: 2px;

    &.airline-button{
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
    }

    &.highlight{
        border-bottom: 4px dotted $success;
    }
}

.btn-primary{
    border: 2px solid darken($primary, 15%);
    font-weight: 500;
    
    &:hover{
        border: 2px solid darken($primary, 15%);
    }
}

.btn-group{
    &.filter{
        width: 100%;
    }
}

.btn-xs{
    padding: 0px .3rem;
    font-size: 0.875rem;
    margin-right: 0.25rem;

    &-light{
        color: $white;

        &:hover, &:active, &:hover:active{
            color: $white;
            border: 1px solid $white;
        }

        &.show{
            color: $primary;
            border-color: $primary;
        }
    }

    &-dark{
        color: $black;

        &:hover, &:active, &:hover:active{
            color: $black;
            border: 1px solid $black;
        }

        &.show{
            color: $white;
            background: #202538;
            border-color: #202538;
        }
    }
}

.dropdown{
    &-menu{
        background-color: $table-bg;
    }

    &-item{
        &:hover, &:active, &:focus{
            background-color: #e2e2e2;
            color: $black;
        }
    }
}


.btn-outline-light:hover{
    background-color: none;
    border: 2px solid #fff;
}

.submitBtn{
    width: 100%;
    height: 42px;

    margin-top: 24px;
}