.results-container{
    padding: 1rem;
    margin-bottom: 2rem;

    color: black;
    background: #fffdf7;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;

    @include media-breakpoint-between(xs, md) {
        overflow-x: scroll;
    }
    
    dt{
        margin-bottom: 0.25rem;
    }

    dd{
        margin-bottom: 0;
    }
}

.airline-logo{
    width: 36px;
    height: 36px;

    background: white;
    padding: 2px;

    &.button{
        border: 2px solid $primary;
    }

    &.small{
        width: 24px;
        height: 24px;
    }

    &.nopadding{
        padding: 0;
    }
}

#cookie-consent{
    position: fixed;
    bottom: .75rem;
    right: .75rem;

    color: $primary;
    background-color: black;
    border: 2px solid $primary;
    width: 19rem;
    max-width: 90%;
    padding: 10px;
}

.list-title{
    div{
        height: 1.5rem;
        width: 1.5rem;
    }

    strong{
        margin-left: 1rem;
        width: 150px;

        @include media-breakpoint-down(md) {
            width: 100px;
        }
    }
}

/* Add Discord colored alert */
.alert{

    margin-bottom: 0;

    &.alert-discord{
        background-color: #7289DA;
        border-color: #7289DA;
        text-align: center;
    }
}

/*
* Snips
*/

.testbadge{
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    font-size: 1rem;
    z-index: 2000;
}

.badge{
    font-weight: 400;
}

.bt{
    border-top: 1px solid rgba($gray-500, 0.5);
}

.bg-blue{
    background: #00356d;
}

img.flag{
    border: 1px solid #efefef;
}

/*
* Markdown container
*/

#markdown{
    padding: 2rem;

    color: black;
    background: white;

    overflow-x: scroll;

    h2{
        padding-top: 1rem;
        padding-bottom: 0.5rem;

        &:not(:first-of-type){
            border-top: 1px solid $gray-200;
        }

    }

    h3, h4, h5, h6 {
        padding-top: 0.5rem;
    }

    p{
        font-family: "Work Sans", sans-serif;
    }

    code{
        color: black;
        background: #efefef;
        padding: 2px 5px;
    }

    table{
        width: 100%;

        tr{
            border-top: 1px solid $gray-200;
        }

        th,td{
            padding-left: 1rem;
        }
    }
}

.btn-group{
    .dropdown-menu{
        li .dropdown-item:hover{
            color: black;
            background: $primary;
        }
    
        &.show{
            --bs-dropdown-min-width: 0rem;
        }
    }
}

.scenery-row{
    margin: 0.5rem 0;
    padding: 0.75rem 1rem 1rem 1rem;

    background: $secondary;

    .title{
        .developer{
            font-family: $font-family-sans-serif;
            font-size: 1.25rem;
        }

        .star{
            color: $primary;
            font-size: 1rem;
            
            .far{
                padding-right: 0.25rem;
            }
        }

        .badge{
            font-size: .75rem;
        }
    }

    .btn{
        margin-top: 0.5rem;
    }
}

u-tab {
    color: $primary;
    background: $secondary;

    border: 1px solid $primary;
    padding: .5em;
}

u-tab[aria-selected="true"] {
    color: black;
    background: $primary;
}