#filters{
    .btn-group{
        border-radius: 2px;

        // Set fixed size for filter buttons
        .btn-filter-width{
            width: 32px;
            height: 26px;
            line-height: 17px;
        }

        .btn-filter-width-meteo{
            min-width: 50px;
            height: 26px;
            line-height: 17px;
        }

        // Remove margin between buttons
        & > :not(.btn-check:first-child) + .btn{
            margin-left: 0px;
        }

        // Add hover effect
        & .btn:hover{
            background: rgba($gray-900, 0.2);
        }
    
        // Tweak buttons
        .btn{
            color: #929292;
            border: 0;

            &-check.red:checked + .btn {
                color: white;
                background: rgba($danger, 0.5);
            }

            &-check.light:checked + .btn {
                color: white;
                background: var(--bs-btn-active-bg);
            }

            &-check.green:checked + .btn {
                color: white;
                background: rgba($success, 0.5);
            }
        }
    }
    
}

.filterbox{
    background: rgba(0,0,0,0.2);
    padding: 1rem 1rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 1rem;
}

.hide-filters{
    display: none;
}

.expandFilterGroup{

    display: flex;
    justify-content: space-between;
    align-items: center;

    .divider{
        width: 30%;
        height: 1px;
        background: rgba($primary, 0.5);

        margin-bottom: 3px;
        display: inline-block;
    }

    .button{
        background: none;
        color: white;
        font-weight: 300;

        padding: 0.5rem 1rem;
        border: 1px solid rgba($primary, 0.5);

        &:hover{
            border: 1px solid rgba($primary, 1);
        }
    }
}