.map{
    height: calc(100vh - $header-height);
    width: calc(100vw - $sidebar-width);
}

.leaflet-container {
    background: #000;
}

.popup{
    &-container{
        height: calc(100vh - $header-height - $footer-height - 2rem);
        width: 400px;
        
        position: absolute;
        left: calc($sidebar-width + 1rem);
        top: calc($header-height + 1rem);
        
        display: flex;
        flex-flow: column;
        gap: 1rem;

        z-index: 2000;
        overflow-y: auto;
        pointer-events: none;
    }

    &-card{
        width: 100%;
        height: fit-content;

        padding: 1rem;
        background: rgba($secondary, 0.5);

        pointer-events: all;
        display: none;

        &.show{
            display: block;
        }

        dl{
            font-size: 0.875rem;

            dt{
                margin-top: 1rem;
            }

            dd{
                margin: 0;
            }
        }

        .airline-logo{
            width: 35px;
            height: 35px;
        }
    }
}