.map{
    height: calc(100vh - $header-height);
    width: calc(100vw - $sidebar-width);

    @include media-breakpoint-down(lg) { 
        width: calc(100vw - $sidebar-width-min);
    }

    @include media-breakpoint-down(md) { 
        display: none;
    }

    &:focus-visible{
        outline: none;
    }
}

.leaflet-div-icon{
    background: transparent;
    border: 0;
}

.leaflet-container {
    background: #000;
}

.leaflet-tooltip.airport {

    font-family: 'Work Sans', sans-serif;
    background-color: transparent;
    border: transparent;
    box-shadow: none;

    color: $primary;
    font-weight: normal;
    font-size: 1rem;

    &:before{
        display: none;
    }
}

.leaflet-marker-icon.marker-cluster{
    color: black;
    background: $primary;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-left: -20px;
    margin-top: -20px;

    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    align-content: center;

    &.inverted{
        color: $primary;
        background: #202538;
    }
}

.popup{

    &-container{
        height: calc(100vh - $header-height - $footer-height - 2rem);
        width: 400px;
        
        position: absolute;
        left: calc($sidebar-width + 1rem);
        top: calc($header-height + 1rem);
        
        display: flex;
        flex-flow: column;
        gap: 1rem;

        z-index: 500;
        overflow-y: auto;
        pointer-events: none;

        @include media-breakpoint-down(lg) { 
            width: 300px;
            left: calc($sidebar-width-min + 1rem);
        }

        @include media-breakpoint-down(md) { 
            display: none;
        }
    }

    &-card{
        width: 100%;
        height: fit-content;

        padding: 1rem;
        background: rgba($secondary, 0.5);

        pointer-events: all;
        display: none;

        @include media-breakpoint-down(md) { 
            display: none;
        }

        &.show{
            display: block;
        }

        &.show-flights{
            display: block;
        }

        dl{
            font-size: 0.875rem;

            dt{
                margin-top: 1rem;
            }

            dd{
                margin: 0;
            }
        }

    }
}

.hint{

    height: auto;
    width: 275px;
    
    position: absolute;
    right: 1rem;
    top: calc($header-height + 1rem);
    padding: 1rem;

    background: rgba($secondary, 0.5);

    z-index: 500;
    pointer-events: none;

    border: 1px solid white;

    @include media-breakpoint-down(xl) { 
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: -10px; /* Adjust as needed */
        right: 30px; /* Adjust as needed */
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f9f9f9; /* Same color as the background of the div */
    }
}