.modal{

    &-title{
        text-align: left;
    }

    &-content{
        color: black;
    }
    
    &-content ul li.highlight{
        color: $success;
        text-decoration: dotted underline;
    }
}