.logo{
    padding: 0 0;
    border-bottom: .25rem solid $primary;

    text-align: center;

    &:hover{
        border-bottom-color: #ffffff40;
    }

    @include media-breakpoint-between(xs, md) {
        border-bottom-color: #ffffff40;
        margin: auto;
        width: 100%;
        max-width: 280px;
    }
}

.nav-masthead{
    .nav-link {
        padding: 0.65rem 1rem 0.6rem 0.75rem;
        font-weight: 400;
        color: $gray-500;
        background-color: transparent;
        border-bottom: .25rem solid transparent;

        + .nav-link{
            margin-left: 1rem;
        }

        &:hover, &:focus{
            border-bottom-color: rgba(255, 255, 255, .25);
        }
    } 

    .active{
        color: #fff;
        border-bottom-color: $primary;
    }
}

/* Tabs */
.nav-pills{
    .nav-link.active, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: white;
        background: $secondary;

        &.light {
            color: black;
            background: $gray-300;
        }
    }

    .nav-link, .show>.nav-link{
        font-size: 0.9em;
        padding: 0.5em 1em;
        color: black;
        background: #f5f5f5;

        &.light {
            color: white;
            background: #474037;
        }
    }
}