@use 'sass:color';

/*
* Scrollbar
*/

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
*::-webkit-scrollbar-track {
    background-color: $secondary;
}

*::-webkit-scrollbar-track:hover {
    background-color: color.adjust($secondary, $lightness: 10%);
}

*::-webkit-scrollbar-track:active {
    background-color: color.adjust($secondary, $lightness: 10%);
}

*::-webkit-scrollbar-thumb {
    background-color: $primary;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust($primary, $lightness: -10%);
}

*::-webkit-scrollbar-thumb:active {
    background-color: color.adjust($primary, $lightness: -10%);
}
