
table{

    margin-bottom: 2rem !important;

    // Add a bit margin to hide horizontal scroll fade
    @include media-breakpoint-between(xs, md) {
        background: transparent;
        margin-right: 2rem;
    }

    th:first-child,td:first-child{
        padding-left: 1rem !important;
    }

    th:last-child,td:last-child{
        padding-right: 1rem !important;
    }

    .hover-show-group{
        min-width: 125px;
    }

    tr .hover-show{
        height: 1.5rem;
        display: none;

        @include media-breakpoint-between(sm, lg) {
            display: block;
        }

        &.secondary{
            @include media-breakpoint-between(sm, lg) {
                display: none;
            }
        }
    }

    tr:hover .hover-show{
        display: block;

        &.secondary{
            @include media-breakpoint-between(sm, lg) {
                display: none;
            }
        }
    }

    tr.showmore-hidden{
        display: none;
    }

    .airline-logo{
        width: 18px;
        height: 18px;
    }

}

.scroll-fade{
    position: relative;
}

.table-responsive{
    background: transparent;

    // Add horizontal scroll fade on smaller devices
    @include media-breakpoint-between(xs, md) {
        background: white;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 4rem;
            background: linear-gradient(to right, rgba(255,255,255,0), #f9f9f9);
            pointer-events: none;
        }
    }
}